[package]
name = "core"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[lib]
path = "src/lib.rs"

[dependencies]
log = "0.4"

[features]
default = []
trace_cpu = []
trace_bus = []
trace_ppu = []
trace_all = ["trace_cpu", "trace_bus", "trace_ppu"]
